# Java class files
*.class

# MacOS
*.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Maven
log/
target/

# Gradle
.gradle/
local.properties
*/build/
out/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
